.DS_Store
.vscode/
.idea/
*.code-workspace
__pycache__/
*.pyc
.venv/
venv/
build/
.ipynb_checkpoints/
Thumbs.db
EOF3rd/ml/list3/meta_Sports_and_Outdoors.json.gz
bin/
build/
out/
a.out
*.out
*.exe
*.dll
*.so
*.dylib
*.o
*.obj
*.pkl
1
2
3
4
5
6
7
8